.container {
    flex-direction: column;
    width: 100%;
    height: 1000px;
    background-color: #4a3a55;
}
.top-bar {
    flex-direction: row;
    width: 100%;
    height: 60px;
    padding-left: 10px;
    align-items: center;
    flex-shrink: 0;
}
.btn-back {
    font-size: 28px;
    width: 120px;
    height: 60px;
    color: #4a3a55;
    background-color: #ffffff;
    border-radius: 6px;
}
.scene-title {
    font-size: 28px;
    text-align: center;
    color: #ffee00;
    margin-bottom: 5px;
}
.main-area {
    flex-direction: row;
    width: 100%;
    height: 500px;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
}
.left-controls,
.right-controls {
    flex-direction: column;
    width: 22%;
    height: 500px;
    align-items: center;
}
.center-display {
    flex-direction: column;
    width: 56%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.scene-box-flex-2 {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #ff857b5c;
    position: relative;
}
/* Flex子项 */
.item-only-width {
    width: 50px;
    height: 50px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 6px;
    justify-content: center;  /* 水平居中 */
    align-items: center;      /* 垂直居中 */
    position: absolute;
}
.item0 {
    background-color: #4caf50; /* 绿 */
}
.item2 {
    background-color: #f44336; /* 红 */
}
.group-label {
    font-size: 16px;
    color: #fff3efef;
    text-align: center;
    width: 100%;
    height: 28px;
    margin-top: 6px;
}
.btn {
    font-size: 12px;
    width: 90%;
    height: 36px;
    margin-top: 4px;
    opacity: 0.3;
}
.btn-larger {
    font-size: 12px;
    width: 95%;
    height: 36px;
    margin-top: 4px;
    opacity: 0.3;
}
.btn-larger-bg {
    font-size: 12px;
    width: 95%;
    height: 36px;
    margin-top: 4px;
    background-color: #ff208c9d;
    opacity: 0.3;
}
/* 选中橙色高亮样式，独立class，不存在组合选择器 */
.btn-active {
    background-color: #ff7800;
    color: #ffffff;
    border-color: #ff7800;
    opacity: 0.3;
}
.scroll-spacer {
    width: 100%;
    height: 400px;
    flex-shrink: 0;
}
